html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.heading{
    display:flex;
    justify-content:center;
}
.navbar{
    display:flex;
    justify-content:space-between;
}
.footer{
    display:flex;
    justify-content:space-around;
}

.glarry-page{
    display:flex;
    justify-content:space-between;
}
.page{
    display:flex;
    justify-content:center;
}

.m{
    display: flex;
    justify-content:center;
    margin: 10px;
    padding:10px; 
    border:100px ;
}
.narbar{
    background-color:red;   
    color: red;
    display: flex;
    justify-content:space-between;
}
.header{
    jo
}

#copyright{

background-color:red;

}